
#info {
    position: absolute;
    right: 24px;
    bottom: 10px;
    border-radius: 4px;
    outline: #319FD3;
    background: rgba(255, 255, 255, .6);
    z-index: 100;
    padding: 8px;
    display: none;
}

.layer-buttons button:focus {
    outline: none;
}

.ol-logo-only {
    display: none;
}
